{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="container w-25" >
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn btn-dark">Register</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
